<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import"
                        chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
                        (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="lista"
                [columns]="cols" 
                [rows]="cantidad"
                responsiveLayout="scTorneol" 
                [globalFilterFields]="['name','country.name','representative.name','status']" 
                [paginator]="true"
                [rowsPerPageOptions]="listaCantidadPorPagina" 
                [showCurrentPageReport]="true"
                currentPageReportTemplate="{first} - {last} de {totalRecords} registros"
                [(selection)]="selectedProducts" 
                selectionMode="multiple" 
                [rowHover]="true"
                 dataKey="id"
                [resizableColumns]="true"
                [loading]="loading" 
                [lazy]="true" 
                (onLazyLoad)="buscar($event)" 
                [totalRecords]="total">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Listar malla</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text"  placeholder="Search..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="{{item.field}}" *ngFor="let item of cols">{{item.header.toString()}}
                            <p-sortIcon field="{{item.field}}"></p-sortIcon>
                        </th>
                        <th> Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td *ngFor="let item of cols"><span class="p-column-title">Code</span>
                            {{mostrarDatos(product,item)}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editItem(product)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteProduct(product)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="genericDialog" [style]="{width: '450px'}" header="Nueva malla" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">

                <div class="field">
                    <label for="name">Nombre</label>
                    <input type="text" pInputText id="nombre" [(ngModel)]="item.nombre" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !item.nombre}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !item.nombre">El nombre es requerido.</small>
                </div>

                
                <div class="field">
                    <label for="name">Descripción</label>
                    <input type="text" pInputText id="descripcion" [(ngModel)]="item.descripcion" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !item.descripcion}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !item.descripcion">La descripción es requerida.</small>
                </div>

            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
                    (click)="saveItem()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deletegenericDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="item">Estas seguro de eliminar el registro, con nombre <b>{{item.nombre}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deletegenericDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

    </div>
</div>